@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model StackOverflow.Models.Answer

<h2>hey</h2>


@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.QuestionId)

    <label>Title</label> <br />
    @Html.EditorFor(model => model.Details)


    <input type="submit" value="Answer" id="QuestionId"/>
}

