@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

@model IEnumerable<StackOverflow.Models.Question>

<h2>All Questions</h2>

@foreach (var questions in Model)
{
    <a href=@Url.Action("Details", "Question", new { id = @questions.QuestionId })><span>@questions.Title</span></a>

}